<nav class="navbar navbar-expand navbar-white navbar-light w-100">  
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-bell"></i>
        </a>
      </li>
  
      <li class="nav-item dropdown user-menu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <img src="{{ url_for('static', filename='images/default.png') }}" class="user-image img-circle elevation-2" alt="{{ current_user.name }} {{ current_user.lastname }}">
          <span class="d-none d-md-inline">{{ current_user.name }} {{ current_user.lastname }}</span>
        </a>
      </li>
      <li class="user-footer">
        <!-- <a href="https://intranet.guinezapp.cl/perfil" class="btn btn-default btn-flat">
          <i class="fa fa-fw fa-user text-lightblue"></i> Perfil
        </a>-->

        <a href="{{ url_for('auth.logout') }}" class="btn btn-default btn-flat float-right">
            <i class="fa fa-fw fa-power-off text-red"></i> Salir
        </a>
      </li>
    </ul>
  </nav>
  