{% extends 'layout.html' %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="card card-primary card-outline">
            <div class="card-body box-profile text-center">
                <img class="profile-user-img img-fluid img-circle" src="{{ url_for('static', filename='images/default.png') }}" alt="Foto de perfil">
                <h3 class="profile-username">{{ current_user.name }} {{ current_user.lastname }}</h3>
            </div>
        </div>
    </div>
</div>
{% endblock %}
