{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Crear Nuevo Usuario</h2>

        <form method="POST" action="{{ url_for('users.create_user') }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.lastname.label(class="form-control-label") }}
                {{ form.lastname(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control") }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-primary">Crear Usuario</button>
            </div>
        </form>
    </div>
{% endblock %}
