{% extends 'base.html' %}

{% block title %}Página de Inicio{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Panel de Bienvenida -->
        <div class="col-md-12 mb-4">
            <div class="alert alert-info">
                <h4 class="alert-heading">En esta sección se vera proximamente el resumen de los tickets realizados.</p>
            </div>
        </div>
        <!-- Enlace a los módulos principales 
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-header">
                    Módulos Principales
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ url_for('ticket.list') }}">Todos los tickets Activos</a><br>
                            <span>ultimo ingreso: 12:39</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('users.user_details', user_id=current_user.id) }}">Todos los
                                Clientes</a>
                            <span>Actualizados hoy: 12:39</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('customer.list_customers') }}">Solicitude en curso</a><br>
                            <span>ultimo ingreso: 12:39</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

         Estadísticas / Accesos Rápidos
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header bg-primary">
                    Estadísticas Rápidas
                </div>
                <div class="card-body bg-primary">
                    <h5 class="card-title">Mis Solicitudes</h5>
                    <p class="card-text">En total tienes <strong>{{ active_tickets_count }}</strong> solictudes en
                        curso.</p>
                    <a href="{{ url_for('ticket.list') }}" class="btn btn-dark">Ver Solicitudes</a>
                </div>
                <hr class="mb-1 mt-1">
                <div class="card-body bg-primary">
                    <h5 class="card-title">Tickets Activos</h5>
                    <p class="card-text">En total tienes <strong>{{ active_tickets_count }}</strong> tickets activos.
                    </p>
                    <a href="{{ url_for('ticket.list') }}" class="btn btn-dark">Ver Tickets</a>
                </div>
            </div>
        </div>


         Enlace a los módulos principales 
        <div class="col-md-5 mb-4">
            <div class="card">
                <div class="card-header">
                    Avance de Solicitudes
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{ url_for('ticket.list') }}">Todos los tickets Activos</a><br>
                            <span>ultimo ingreso: 12:39</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('users.user_details', user_id=current_user.id) }}">Todos los
                                Clientes</a>
                            <span>Actualizados hoy: 12:39</span>
                        </li>
                        <li class="list-group-item">
                            <a href="{{ url_for('customer.list_customers') }}">Solicitude en curso</a><br>
                            <span>ultimo ingreso: 12:39</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div> -->
    </div>
</div>
{% endblock %}