{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h2>Editar Artículo: {{ article.title }}</h2>

        <form method="POST" action="{{ url_for('knowledge_base.edit_article', article_id=article.id) }}">
            {{ form.hidden_tag() }}

            <div class="form-group">
                {{ form.title.label(class="form-control-label") }}
                {{ form.title(class="form-control") }}
            </div>

            <div class="form-group">
                {{ form.content.label(class="form-control-label") }}
                {{ form.content(class="form-control") }}
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-warning">Actualizar Artículo</button>
            </div>
        </form>
    </div>
{% endblock %}
